.Logo {
  border: "1px solid red";
  height: 50px;
  width: 57px;
}

.Usernavigations {
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 17px
}

.UserNavs {
  display: none;
}

.routerLink {
  text-decoration: none;
  color: white;
}

.activeLink {
  text-decoration: none;
  color: rgb(180, 211, 59);
  font-size: 19px;
}

@media screen and (max-width: 1020px) {
  .Usernavigations {
    width: 40%;
  }
}

@media screen and (max-width: 720px) {
  .Usernavigations {
    display: none;
  }

  .UserNavs {
    display: block;
  }
}
