.EditLessonContainer {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: white;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.LessonMainContainer {
  margin-top: 70px;
  width: 90%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: auto;
  background-color: white;
  padding: 0px 20px 50px;
}

.BackButtonDiv {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.DataContainer {
  width: 100%;
  height: auto;
  display: flex;
}

.LessonPreviewContainer {
  width: 80%;
  padding: 50px 70px;
}

.TitleDiv {
  display: flex;
  align-items: center;
}

.AddContentComponents {
  margin-top: 70px;
  height: auto;
}

.addText {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textarea {
  width: 90%;
  height: 70px;
  border-radius: 5px;
}

.VideoDiv {
  border: 2px dashed rgb(151, 151, 151);
  height: auto;
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.videoBtn {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoUrlDiv {
  width: 45%;
  height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.videoTextfield {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
}

.imageDiv {
  border: 2px dashed rgb(151, 151, 151);
  height: auto;
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.UploadImgDiv {
  height: 100px;
  width: 45%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageUrl {
  width: 45%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.bannerimage {
  border: 2px dashed rgb(151, 151, 151);
  height: auto;
  padding: 30px 50px;
  border-radius: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Uploadbgimg {
  height: 100px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.UploadbgimgUrl {
  width: 45%;
  height: auto;

  height: 100px;
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.EmbedMediDiv {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 40px;
  align-items: center;
}

.PPTdiv {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 40px;
  align-items: center;
}

.AddContent {
  width: 20%;
}

.AddContentOptions {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  row-gap: 20px;
  column-gap: 20px;
  padding: 0px 10px;
}

.addContentBtn {
  border: 1px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: rgb(67, 67, 67);
}

.addContentBtn:hover {
  transform: scale(1.02);
  transition: 500ms;
  cursor: pointer;
}

.updatebtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 480px) {
  .LessonMainContainer{
    width: 100%;
    border: 1px solid black;
  }


  .DataContainer {
    border: 1px solid red;
    flex-direction: column;
  }

  .LessonPreviewContainer {
    width: 100%;
    border: 1px solid blue;
  }

  .AddContentComponents {
    width: 100%;
    border: 1px solid red;
  }

  .AddContent {
    width: 100%;
  }
}
