.cardmainDiv {
  width: 100%;
  height: auto;
}

.cardcontainer {
  /* border: 10px solid red; */
  padding: 8% 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 70px;
}
.Card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: rgb(180,211,59) 0px 2px 8px 0px;
}
