.MainDiv {
  height: auto;
  margin: 75px 0px 0px 0px;
  display: flex;
}

.sideDiv {
  height: 100dvh;
  width: 14%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: auto;
}

.buttonDiv > button {
  margin: 5px 0px;
  height: 40px;
  border: none;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #f2f2f2;
  color: rgb(77, 135, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(40, 44, 52);
  color: rgb(180, 211, 59);
}

.button:active {
  transform: translateY(2px);
  background-color: #cacaca;
}
.button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.componentDiv {
  width: 86%;
  box-sizing: border-box;
  padding: 2%;
}

.selectCourseMainDiv {
  width: 100%;
  height: auto;
  display: flex;
}

.selcoursefirstdiv {
  width: 30%;
  border: 30%;
  height: 100%;

  padding: 1%;
}

.selcoursesecondDiv {
  width: 70%;
  height: auto;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 10px;
  overflow: hidden;
}

.courseSelect {
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  height: 50%;
  padding: 2%;
}

.select {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
}

.enrollBtnDiv {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50%;
  width: 100%;
  padding: 3%;
}

.enrollBtnDiv > button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  color: rgb(77, 135, 51);
}

.enrollBtnDiv > button:hover {
  background-color: rgb(40, 44, 52);
  color: rgb(180, 211, 59);
}

.userEnrollments {
  margin-top: 50px;
  height: auto;
  width: 100%;
  display: flex;
}

.enrollmentinfo {
  width: 30%;
  padding: 15px;
}

.unenrollDiv {
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
  width: 70%;
  padding: 20px 30px;
  height: auto;
}

.unenrollTable th {
  color: rgb(77, 135, 51);
  background-color: #ffffff;
  border-bottom: 1px solid rgb(195, 195, 195);
}

.CourseUnassignDiv {
  display: flex;
  border-bottom: 1px solid rgb(210, 210, 210);
  margin-bottom: 10px;
  align-items: center;
}

.UserInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.Grid {
  width: 100dvw;
  height: auto;
  box-sizing: border-box;
  margin-top: 80px;
  justify-content: space-between;
}

.UserImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.Username {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .UserInfoDiv {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .UserImage {
    width: 50px;
    height: 50px;
  }

  .Username {
    font-size: 20px;
    padding-left: 20px;
  }

  .userEnrollments {
    flex-direction: column;
  }

  .enrollmentinfo {
    width: 100%;
  }

  .enrollmentinfo > h3 {
    font-size: 18px;
    margin: 0;
  }

  .enrollmentinfo > p {
    font-size: 13px;
  }

  .selcoursesecondDiv {
    width: 100%;
  }

  .userEnrollments {
    margin-top: 10px;
  }

  .unenrollDiv {
    width: 100%;
    margin-bottom: 50px;
    padding:10px 0;
  }

  .CourseUnassignDiv{
    width: 100%;
    padding: 0px 10px;
  }
}
