.MainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SendotpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.inputGrid {
  width: 80%;
  padding: 30px 80px;
}

.Box {
  width: 80%;
}

@media screen and (max-width: 1200px) {
  .inputGrid {
    width: 70%;
    padding: 30px 10px;
  }
}

@media screen and (max-width: 720px) {
  .Box {
    width: 85%;
  }
  .inputGrid {
    width: 70%;
    padding: 30px 10px;
  }
}

@media screen and (max-width: 480px) {
  .Box {
    width: 95%;
  }
  .inputGrid {
    width: 90%;
    padding: 30px 10px;
  }
}
